@page "/"
@using Microsoft.Extensions.Options;
@using Portfolio.Models;
@inject IOptions<AboutMe> config


<main>
    <div class="px-4 py-5 my-5 text-center">
        <img class="circle d-block mx-auto mb-4 animate__animated animate__fadeInDown" src="images/missing.jpg" alt="avatar">
        <h1 class="display-5 fw-bold animate__animated animate__fadeInDown">@config.Value.Name</h1>

            <h2 class="display-10 fw-light mb-4 @animTitle">@currentTitle</h2>


        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-4 d-sm-flex justify-content-sm-center animate__animated animate__bounceInLeft">
                @foreach(var item in config.Value.SocialLinks)
                {
                    <a href="@item.Url" target="_blank">
                        <i class="@item.Style"></i>
                    </a>
                }


            </div>

            <div class="card p-4 mt-5 animate__animated animate__bounceInRight">
                <p class="mb-0">@config.Value.About</p>
            </div>
        </div>
    </div>
</main>


@code {
    private System.Threading.Timer? timer;
    private string currentTitle = string.Empty;
    private string animTitle = "animate__animated animate__fadeInUp";

    protected override async Task OnInitializedAsync()
    {
        currentTitle = config?.Value?.Titles?[0] ?? string.Empty;
        timer = new System.Threading.Timer(async (object? stateInfo) =>
        {
            currentTitle = config?.Value?.Titles?[Random.Shared.Next(0, config.Value.Titles.Count())] ?? string.Empty;
            StateHasChanged();
        }, new System.Threading.AutoResetEvent(false), 3000, 3000);
    }
}